#accordion h3 {
    border: 1px solid #dde2e6;
    background: #fff;
    padding: 20px 30px 20px 20px;
    border-radius: 0;
    font-size: 18px;
    color: #484848;
    font-family: 'Roboto-Light';
    outline: none;
    margin: 10px 0 0 0;
}
.vc_column_container > .vc_column-inner{
    padding:0px;
}